#direccionesenvio {
	display: flex;
	align-items: center;
	width: 20%;
	cursor: pointer;
	margin: 0 30px;
}
#direccionesenvio > a {
	display: flex;
	align-items: center;
	text-decoration: none;
}
#direccionesenvio > a > img {
	width: 15px;
}
#direccionesenvio > a > p {
	color: black;
	margin-left: 10px;
	text-transform: capitalize;
	font-size: .8em;
}
