#elboton {
	border-radius: 5px;
	padding: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	height: 40px;
	text-align: center;
}
#elboton.primario {
	background: #3483fa;
	color: white;
}
#elboton.primario:hover {
	background: #2968c8;
}
#elboton.secundario {
	background-color: #4189e626;
	color: #3483fa;
}
#elboton.secundario:hover {
	background-color: #4189e633;
}
#elboton.disabled {
	background: #0000001a;
	color: #666666;
	cursor: default;
}
#elboton > p {
	margin: 0;
	padding: 0 20px;
	line-height: .9em;
	width: 100%;
}