section#breadcrumb {
	width: 98%;
	margin: 0 auto 20px;
}
section#breadcrumb > ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	padding: 0;
	margin: 0;
}
section#breadcrumb > ul > span {
	margin: 0 10px;
}
section#breadcrumb > ul > li {
	list-style: none;
}
section#breadcrumb > ul > li > a {
	text-transform: capitalize;
	text-decoration: none;
	color: black;
	text-decoration: underline;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition:    all 0.2s ease-out;
	-o-transition:      all 0.2s ease-out;
	transition:         all 0.2s ease-out;
}
section#breadcrumb > ul > li > a:hover {
	text-decoration: none;
}
section#breadcrumb > ul > li > a > img {
	width: 20px;
	position: relative;
	top: 4px;
}
@media( max-width: 850px ) {
	section#breadcrumb {
		margin: 10px auto;
		width: 98%;
		display: block;
		font-size: .9em;
	}
}