header {
	display: flex;
	justify-content: space-around;
	height: 110px;
	border-bottom: 1px solid #ccc;
}
header > * {
	width: 33%;
}
@media( max-width: 850px ) {
	header {
		display: flex;
		justify-content: space-between;
	}
}