header {
	display: flex;
	justify-content: space-between;
	height: 110px;
	border-bottom: 1px solid #ccc;
	width: 98%;
	margin: 0 auto;
}
header #logo {
	width: 20%;
}
header #logo {
	display: flex;
	align-items: center;
}
header #logo > a {
	width: 310px;
	display: inline-block;
	margin: 10px 0 10px 10px;
}
header #logo > a > img {
	width: 100%;
}
header #logo > a {
	display: flex;
}
@media( max-width: 850px ) {
	header {
		display: flex;
		flex-direction: column;
		height: auto;
	}
	header > div {
		display: flex;
	}
	header > div #logo {
		width: 190px;
		display: flex;
		justify-content: center;
	}
	header #buscador {
		display: flex;
		width: 100%;
		margin: 0 auto;
	}
	header #buscador form {
		width: 100%;
	}
}