header {
	display: flex;
	justify-content: space-around;
	height: 110px;
	border-bottom: 1px solid #ccc;
}
header > * {
	width: 45%;
}
#logo > a {
	display: flex;
}
@media( max-width: 850px ) {
	header {
		display: flex;
		justify-content: space-between;
		height: 50px;
	}
}