section#detalle {
	display: flex;
	flex-direction: column;
	align-items: center;
}
section#detalle > h2 {
	text-align: center;
	font-size: 3em;
	margin: 10px 0 20px;
	padding: 0;
	width: 90%;
	line-height: 1.2em;
}
section#detalle > h2::first-letter {
	text-transform: capitalize;
}
section#detalle > img {
	max-height: 600px;
}
section#detalle > p {
	margin: 0;
}
section#detalle > p.precio {
	color: var( --precio );
	font-size: 2em;
	font-weight: 600;
}
section#detalle > div.imagenes {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	width: 60%;
	margin: 30px 0 0;
}
section#detalle > div.imagenes > img {
	max-width: 100px;
	cursor: pointer;
}
section#detalle > div.imagenes > img:hover {
	opacity: .9;
}
section#detalle > div.tallas > select {
	height: 40px;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.2em;
	letter-spacing: 0.05em;
	outline: none;
}
section#detalle > div.comentarios {
	width: 80%;
	margin: 0 auto;
}
section#detalle > div.comentarios > .bloques > .bloque {
	border: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}
section#detalle > div.comentarios > .bloques > .bloque > .nombre {
	font-size: 1.2em;
}
section#detalle > div.comentarios > .bloques > .bloque > .imagenes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
section#detalle > div.comentarios > .bloques > .bloque > .imagenes > img {
	max-width: 200px;
}
section#detalle nav.barracomprar.mobile {
	display: none;
}
section#detalle nav.barracomprar.desktop {
	display: block;
}
section#detalle nav.barracomprar.desktop > a {
	background: black;
	height: 50px;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 1.7em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	line-height: 1.8em;
	width: 240px;
	display: block;
	margin: 10px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition:    all 0.2s ease-out;
	-o-transition:      all 0.2s ease-out;
	transition:         all 0.2s ease-out;
}
section#detalle nav.barracomprar.desktop > a:hover {
	background: #333;
}

@media( max-width: 850px ) {
	section#detalle > h2 {
		font-size: 1.3em;
	}
	section#detalle > img {
		width: 98%;
	}
	section#detalle > div.imagenes {
		width: 98%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	section#detalle > div.imagenes > img {
		margin: 4px;
	}
	section#detalle nav.barracomprar.desktop {
		display: none;
	}
	section#detalle nav.barracomprar.mobile {
		display: inline-block;
		background: white;
		height: 60px;
		position: fixed;
		bottom: 0;
		width: 100%;
		left: 0;
	}
	section#detalle nav.barracomprar.mobile > a {
		display: block;
		width: 98%;
		margin-top: 5px;
		margin-left: 5px;
		background: black;
		height: 50px;
		color: white;
		text-decoration: none;
		text-align: center;
		font-size: 1.7em;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		line-height: 1.8em;
	}
}