@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

section#detalle {
	display: flex;
	flex-direction: row;
	width: 98%;
	margin: 20px auto 0;
}
section#detalle .thumbnails {
	margin-right: 20px;
}
section#detalle .thumbnails {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}
section#detalle .thumbnails > img {
	cursor: pointer;
	width: 110px;
	margin-bottom: 10px;
	border: 1px solid transparent;
}
section#detalle .thumbnails > img.activo {
	border: 1px solid black;
}
section#detalle .informacion {
	margin-left: 20px;
}
section#detalle .informacion h2 {
	font-family: 'Baskervville', serif;
	font-size: 3em;
	margin: 0 0 20px;
	font-weight: 100;
	text-align: left;
	line-height: 1em;
}
section#detalle .informacion h2::first-letter {
	text-transform: capitalize;
}
section#detalle .informacion p {
	margin: 0;
}
section#detalle .informacion p.precio {
	font-size: 2em;
	font-weight: 600;
	color: black;
	margin: 10px 0 30px;
}
section#detalle .informacion div.tallas {
	margin-bottom: 10px;
}
section#detalle .informacion div.tallas > select {
	height: 40px;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.2em;
	letter-spacing: 0.05em;
	outline: none;
}
section#detalle nav.barracomprar.mobile {
	display: none;
}
section#detalle nav.barracomprar.desktop {
	display: block;
}
section#detalle nav.barracomprar.desktop > a {
	background: black;
	height: 50px;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 1.7em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	line-height: 1.8em;
	width: 240px;
	display: block;
	margin: 10px 0 20px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition:    all 0.2s ease-out;
	-o-transition:      all 0.2s ease-out;
	transition:         all 0.2s ease-out;
}
section#detalle nav.barracomprar.desktop > a:hover {
	background: #333;
}
section#tabsDetalle {
	margin-top: 30px;
}
section#tabsDetalle > ul.tabs-titulo {
	display: flex;
	margin: 0;
	padding: 0;
}
section#tabsDetalle > .tabs-titulo > li {
	margin: 0;
	padding: 0;
	list-style: none;
	background: white;
	padding: 10px;
	margin-left: 10px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	border: 1px solid #ddd;
	border-bottom: 1px solid transparent;
	cursor: pointer;
}
section#tabsDetalle > .tabs-titulo > li:hover {
	border-top: 3px solid #ccc;
}
section#tabsDetalle > .tabs-titulo > li.activo {
	border-top: 3px solid black;
}
section#tabsDetalle > .tabs-contenido > div {
	display: none;
}
section#tabsDetalle > .tabs-contenido > div:first-of-type {
	display: block;
}
section#tabsDetalle > .tabs-contenido > div.descripcion {}
section#tabsDetalle > .tabs-contenido > div[data-contenido=comentarios] {}
section#tabsDetalle > .tabs-contenido > div[data-contenido=comentarios] .bloque {
	width: 96%;
	border: 1px solid #ddd;
	margin: 30px auto 0;
	padding: 10px;
}
section#tabsDetalle > .tabs-contenido > div[data-contenido=comentarios] .bloque .nombre {}
section#tabsDetalle > .tabs-contenido > div[data-contenido=comentarios] .bloque .comentario {}
section#tabsDetalle > .tabs-contenido > div[data-contenido=comentarios] .bloque .imagenes {
	margin-top: 20px;
	width: 100%;
	display: block;
}
section#tabsDetalle > .tabs-contenido > div[data-contenido=comentarios] .bloque .imagenes > img {
	max-width: 160px;
	margin-right: 20px;
}


















































@media( max-width: 850px ) {
	section#detalle {
		display: flex;
		flex-direction: column;
		margin-top: 0;
	}
	section#detalle .principal > img {
		width: 100%;
	}
	section#detalle .thumbnails {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	section#detalle .thumbnails > img {
		width: 50px;
	}
	section#detalle .informacion {
		margin: 0;
	}
	section#detalle .informacion h2 {
		font-size: 1.3em;
	}
	section#detalle nav.barracomprar.desktop {
		display: none;
	}
	section#detalle nav.barracomprar.mobile {
		display: inline-block;
		background: white;
		height: 60px;
		position: fixed;
		bottom: 0;
		width: 100%;
		left: 0;
	}
	section#detalle nav.barracomprar.mobile > a {
		display: block;
		width: 98%;
		margin-top: 5px;
		margin-left: 5px;
		background: black;
		height: 50px;
		color: white;
		text-decoration: none;
		text-align: center;
		font-size: 1.7em;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		line-height: 1.8em;
	}
	section#tabsDetalle > .tabs-contenido > div[data-contenido=comentarios] .bloque .imagenes > img {
		max-width: 90px;
	}
}