@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

:root {
	--colorBordeGuiaTallas: #eded;
}

section#detalle {
	display: flex;
	flex-direction: row;
	width: 98%;
	margin: 20px auto 0;
}
section#detalle .thumbnails {
	margin-right: 20px;
}
section#detalle .thumbnails {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}
section#detalle .thumbnails > img {
	cursor: pointer;
	width: 110px;
	margin-bottom: 10px;
	border: 1px solid transparent;
}
section#detalle .thumbnails > img.activo {
	border: 1px solid black;
}
section#detalle .principal {
	position: relative;
}
section#detalle .informacion {
	margin-left: 20px;
}
section#detalle .informacion h2 {
	font-family: 'Baskervville', serif;
	font-size: 3em;
	margin: 0 0 20px;
	font-weight: 100;
	text-align: left;
	line-height: 1em;
}
section#detalle .informacion h2::first-letter {
	text-transform: capitalize;
}
section#detalle .informacion .valoracion {
	display: flex;
	align-items: center;
}
section#detalle .informacion .valoracion .icono {
	background: url("../../assets/imagenes/valoracion.png");
	width: 96px;
	height: 18px;
	display: block;
	margin-right: 10px;
	background-size: 6em;
	background-repeat: no-repeat;
	/* background-color: cyan; */
}
section#detalle .informacion .valoracion .icono.estrella5 {
	background-position: 0 0;
}
section#detalle .informacion .valoracion .icono.estrella4 {
	background-position: 0 -36px;
}
section#detalle .informacion .valoracion .icono.estrella3 {
	background-position: 0 -72px;
}
section#detalle .informacion .valoracion .icono.estrella2 {
	background-position: 0 -107px;
}
section#detalle .informacion .valoracion .icono.estrella1 {
	background-position: 0 -143px;
}
section#detalle .informacion p {
	margin: 0;
}
section#detalle .informacion p.precio {
	font-size: 2em;
	font-weight: 600;
	color: black;
	margin: 10px 0 30px;
}
section#detalle .informacion div.botonguiadetallas {
	display: flex;
	cursor: pointer;
	margin-bottom: 10px;
}
section#detalle .informacion div.botonguiadetallas > img {
	width: 35px;
	margin-right: 10px;
}
section#detalle .informacion div.botonguiadetallas > p {
	text-decoration: underline;
}
section#detalle .informacion div.botonguiadetallas:hover > p {
	text-decoration: none;
}
section#detalle .informacion #fondoguiadetallas ,
section#detalle .informacion #guiadetallas {
	z-index: 3;
}
section#detalle .informacion #fondoguiadetallas {
	display: none;
	background: black;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: .7;
}
section#detalle .informacion #guiadetallas {
	padding: 5px 20px 10px;
	display: none;
	background: white;
	width: 600px;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 6px;
}
section#detalle .informacion #guiadetallas > span {
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	right: 20px;
	font-size: 1.2em;
}
section#detalle .informacion #guiadetallas h4 {
	font-size: 1.3em;
	margin: 10px 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}
section#detalle .informacion #guiadetallas .cambiarMedida {
	display: flex;
	justify-content: center;
	margin: 15px 0 10px;
}
section#detalle .informacion #guiadetallas .cambiarMedida > p {
	margin-right: 10px;
}
section#detalle .informacion #guiadetallas .cambiarMedida > ul {
	display: flex;
	margin: 0;
	padding: 0;
}
section#detalle .informacion #guiadetallas .cambiarMedida > ul > li {
	margin: 0;
	list-style: none;
	border: 1px solid rgba(0, 0, 0, 0.679);
	padding: 0px 10px;
	cursor: pointer;
	text-transform: uppercase;
}
section#detalle .informacion #guiadetallas .cambiarMedida > ul > li.activo {
	background: rgba(0, 0, 0, 0.679);
	color: white;
}
section#detalle .informacion #guiadetallas table {
	width: 100%;
}
section#detalle .informacion #guiadetallas table tbody tr:first-of-type td {
	border-top: 1px solid var( --colorBordeGuiaTallas );
	font-weight: 500;
}
section#detalle .informacion #guiadetallas table tbody tr td {
	border-right: 1px solid var( --colorBordeGuiaTallas );
	border-bottom: 1px solid var( --colorBordeGuiaTallas );
	height: 40px;
	width: 25%;
	text-align: center;
	font-size: .9em;
	letter-spacing: 0.05em;
}
section#detalle .informacion #guiadetallas table tbody tr td:hover {
	background: #eeeeeeb0;
}
section#detalle .informacion #guiadetallas table tbody tr td:first-of-type {
	border-left: 1px solid var( --colorBordeGuiaTallas );
	font-weight: 500;
}
section#detalle .informacion #guiadetallas > p {
	color: #888;
	font-size: .8em;
	margin: 10px 0;
}
section#detalle .informacion #guiadetallas > img {
	margin-top: 20px;
	width: 100%;
}
section#detalle .informacion div.tallas {
	margin-bottom: 10px;
}
section#detalle .informacion div.tallas > select {
	height: 40px;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.2em;
	letter-spacing: 0.05em;
	outline: none;
}
section#detalle nav.barracomprar.mobile {
	display: none;
}
section#detalle nav.barracomprar.desktop {
	display: block;
	cursor: pointer;
}
section#detalle nav.barracomprar.desktop > p {
	background: black;
	height: 50px;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 1.7em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	line-height: 1.8em;
	width: 240px;
	display: block;
	margin: 10px 0 20px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition:    all 0.2s ease-out;
	-o-transition:      all 0.2s ease-out;
	transition:         all 0.2s ease-out;
}
section#detalle nav.barracomprar.desktop > p:hover {
	background: #333;
}
section#tabsDetalle {
	margin-top: 30px;
}
section#tabsDetalle > ul.tabs-titulo {
	display: flex;
	margin: 0;
	padding: 0;
}
section#tabsDetalle > .tabs-titulo > li {
	margin: 0;
	padding: 0;
	list-style: none;
	background: white;
	padding: 10px;
	margin-left: 10px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	border: 1px solid #ddd;
	border-bottom: 1px solid transparent;
	cursor: pointer;
}
section#tabsDetalle > .tabs-titulo > li:hover {
	border-top: 3px solid #ccc;
}
section#tabsDetalle > .tabs-titulo > li.activo {
	border-top: 3px solid black;
}
section#tabsDetalle > .tabs-contenido > div {
	display: none;
}
section#tabsDetalle > .tabs-contenido > div:first-of-type {
	display: block;
}
section#tabsDetalle > .tabs-contenido > div[data-contenido=comentarios] .bloque {
	width: 96%;
	border: 1px solid #ddd;
	margin: 30px auto 0;
	padding: 10px;
}
section#tabsDetalle > .tabs-contenido > div[data-contenido=comentarios] .bloque .imagenes {
	margin-top: 20px;
	width: 100%;
	display: block;
}
section#tabsDetalle > .tabs-contenido > div[data-contenido=comentarios] .bloque .imagenes > img {
	max-width: 160px;
	margin-right: 20px;
}

@media( max-width: 850px ) {
	section#detalle {
		display: flex;
		flex-direction: column;
		margin-top: 0;
	}
	section#detalle .principal > img {
		width: 100%;
	}
	section#detalle .thumbnails {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	section#detalle .thumbnails > img {
		width: 50px;
	}
	section#detalle .informacion {
		margin: 0;
	}
	section#detalle .informacion h2 {
		font-size: 1.3em;
	}
	section#detalle nav.barracomprar.desktop {
		display: none;
	}
	section#detalle nav.barracomprar.mobile {
		display: inline-block;
		background: white;
		height: 60px;
		position: fixed;
		bottom: 0;
		width: 100%;
		left: 0;
	}
	section#detalle nav.barracomprar.mobile > p {
		display: block;
		width: 98%;
		margin-top: 5px;
		margin-left: 5px;
		background: black;
		height: 50px;
		color: white;
		text-decoration: none;
		text-align: center;
		font-size: 1.7em;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		line-height: 1.8em;
	}
	section#detalle .informacion #guiadetallas {
		width: 70%;
		top: 80px;
	}
	section#detalle .informacion #guiadetallas table tbody tr td {
		font-size: .7em;
	}
	section#tabsDetalle > .tabs-contenido > div[data-contenido=comentarios] .bloque .imagenes > img {
		max-width: 90px;
	}
}